.newlength {
    width:18% !important;
}

.sentence{
    transform: translateY(7px);
    padding-right: 20px;
    font-family: Open Sans;
    font-style: Regular;
    font-size: 24px;
    line-height: 24px;
    line-height: 73%;
    align-items: Left;
    padding-left:64px;
}

.fibo{
    font-family: Open Sans;
    font-style: Regular;
    font-size: 72px;
    line-height: 79px;
    line-height: 81%;
    align-items: Left;
    padding-bottom:50px;
    padding-top:100px;
    padding-left:64px;
}

.inputsec{
    width:86px;
    height:38px;
    margin-right:26px;
}

.thebtn {
    width: 39px;
    height: 38px;
}

.results{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-decoration-line: underline;
    position: absolute;
    transform: translateY(15px);
}

.spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }
    @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.hidden{
      display: none;
}

  .fortytwo{
    width: 277px;
    height: 24px;
    left: 525px;
    top: 236px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D9534F;
    
}

.largfifty{
    position: relative;
    width: 180px;
    height: auto;
    background: #F2DEDE;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
    left:150px;
    margin-top:15px;
    vertical-align: middle;
    align-items: center;
    text-align: left;
}

.fiftytxt{
font-family: Open Sans;
font-style: Regular;
font-size: 16px;
line-height: 24px;
line-height: 110%;
color: #A94442;

}


.results-list{
    margin-top: 87px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 72px;
    align-items: Left;
    padding-left:64px;
    margin-bottom:60px;
    display: inline-block;
    margin-right:6px;
}

.list-history{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-left:64px;
    list-style:none;
    padding:0px;
    color: #373a3c;
    margin-bottom:24px;
    border-bottom: 1px solid black;
    padding-bottom: 18px;
    width:85%;

}

.red{
    border:red 1px solid;
    color:red;
}

.save {
    padding-left:64px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #373a3c;
    margin-top:15px;

}